.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header button {
    color: var(--white);
    font-size: 12px;
}

.title {
    font-size: 16px;
    margin-bottom: 20px;
}

.buttonsBox {
    display: flex;
    background-color: var(--plate);
    width: 100%;
    max-width: 692px;
    border-radius: 50px;
    align-items: center;
    position: relative;
}

.goBackBtn, .refreshBtn {
    background-color: var(--success);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: .3s;
    z-index: 5;
    position: absolute;
    left: calc(50% - 22px);
}

.refreshBtn__text {
    display: none;
}

.goBackBtn {
    color: var(--white);
    text-decoration: none;
}

.refreshBtn:hover, .goBackBtn:hover,
.refreshBtn:focus, .goBackBtn:focus {
    transform: scale(0.98);
}

.refreshBtn:active, .goBackBtn:active {
    transform: scale(0.90);
}

.refreshBtn:disabled, .goBackBtn:disabled {
    background-color: var(--success-muted);
}

.goBackBtn > svg, .refreshBtn > svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.goBackBtn > svg {
    transform: translate(10px, 10px) rotate(180deg);
}

.spinning > svg {
    animation: rotate 1s linear infinite;
}

.deleteBtn, .logoutBtn {
    width: 50%;
    padding: 10px 5px;
    transition-property: box-shadow, background-color;
    transition-duration: .3s;
}

.deleteBtn {
    border-radius:  50px 0 0 50px;
}

.deleteBtn:hover, .deleteBtn:focus {
    box-shadow: 1px 1px 0 var(--invalid) inset, 1px -1px 0 var(--invalid) inset;
}

.deleteBtn:active {
    background-color: var(--invalid);
}

.logoutBtn {
    border-radius: 0 25px 25px 0;
}

.logoutBtn:hover, .logoutBtn:focus {
    box-shadow: -1px 1px 0 var(--yellow) inset, -1px -1px 0 var(--yellow) inset;
}

.logoutBtn:active {
    background-color: var(--yellow);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@media all and (min-width: 767px) {
    .title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .refreshBtn, .goBackBtn {
        width: 90px;
        height: 90px;
        left: calc(50% - 45px);
    }

    .deleteBtn, .logoutBtn {
        padding: 20px 5px;
    }

    .refreshBtn > svg, .goBackBtn > svg {
        height: 30px;
        width: 30px;
    }

    .goBackBtn > svg {
        height: 40px;
        width: 40px;
        transform: translate(22px, 24px) rotate(180deg);
    }

    .header button {
        font-size: 20px;
    }

    .refreshBtn__text {
        display: inline;
    }
}