.wrapper {
    background-color: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    width: 90%;
    max-width: 550px;
    padding: 30px;
    background-color: var(--plate-light);
    border-radius: 15px;
    position: fixed;
    top: 20px;
    z-index: 15;
}

.title {
    display: inline-block;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.header {
    position: relative;
}

.closeBtn {
    font-size: 22px !important;
    position: absolute;
    right: -20px;
    top: -25px;
}

.closeBtn:hover {
    color: var(--muted-text);
}